target/
*.log
app_production/
app_dev/
ObjectStore/
PutObjectStoreDirHere/
/src/main/webapp/dist/
/src/main/webapp/node_modules/
/src/main/webapp/node/
/src/main/webapp/docs/
nbactions.xml
.idea/
.workspace/
.project/
