<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kisoft.covid19">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name=".AppWraper"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SecurityCodeActivity" />
        <activity android:name=".VitalSignsProcess" />
        <activity android:name=".VitalSignsResults" />
        <activity android:name=".CreateProfileActivity" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.BackIntentService" />
    </application>

</manifest>