.Login {
  padding-top: 50%;
  padding: 20%;
  text-align: center;
}

img {
  margin: 0 auto;
  width: 9.3rem;
  height: 9.3rem;
}
form {
  text-align: left;
}
.sidebar {
  margin-top: 50%;
}
.log {
  margin-top: 25%;
}
