.border-2 {
  border-width: 3px !important;
}
.carousel-indicators .active {
  background-color: #17a2b8;
}
.carousel-indicators li {
  background-color: #a9a9a9;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2317A2B8' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2317A2B8' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.patient-profile-img {
  margin: 0;
  margin-left: 1rem;
  width: 3.5rem;
  height: 3.5rem;
}
.nav-link {
  color: black;
  padding: 0.8rem 0.4rem;
}
.nav-tabs .nav-link.active {
  border-bottom: solid #17a2b8 0.3rem;
  color: #17a2b8 !important;
}
